@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/breakpoints' as *;

.tasks_list_item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 39px;
  font-size: 14px;
  border-bottom: 1px solid $border-light;
}

.task_item_type_1 {
  color: #4cd964;
}

.tasks_counter {
  margin-right: 10px;
  color: $gray-light;
  font-size: 12px;
  font-style: italic;
}

.tasks_title {
  // overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
