@use '../../../styles/abstracts/mixins' as *;
@use '../../../styles/abstracts/variables' as *;
@use '../../../styles/abstracts/breakpoints' as *;

.tasks_list_item {
  height: 39px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $border-light;
  cursor: pointer;
  width: 100%;
}

.task_item_type_1 {
  color: #4cd964;
}

.task_item_inner {
  font-size: 14px;
  //overflow: hidden;
  //white-space: nowrap;
  // text-overflow: ellipsis;
}

.tasks_counter {
  font-style: italic;
  margin-right: 10px;
  font-size: 12px;
  color: $gray-light;
}
