@use '../../styles/abstracts/mixins' as *;
@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/breakpoints' as *;

.chart_tasks {
  width: 390px;
  height: calc(100vh - $header-height - $global-indent - 16px - $global-indent * 0.5);
  overflow: hidden;
  user-select: none;

  border: 1px solid $border-light;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @media (max-width: $breakpoint-sm) {
    width: 45%;
  }
}

.inner_heading {
  height: $inner-heading-height;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
  background-color: $background-light;
  border-bottom: 1px solid $border-light;
  overflow: hidden;
  position: relative;
}

.tasks_list {
  height: calc(100% - $inner-heading-height);
  overflow-x: auto;
}

.alt_button {
  padding: 2px 4px;
  border-radius: 4px;
  margin: 0 5px 2px 12px;
  width: 48px;
  font-size: 11px;
  position: relative;
  top: -15px;
  background-color: $color-white;
  border: 1px solid $border-light;
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}
