$header-height: 80px;
$footer-height: 60px;
$container-width: 100%;
$bluefont: darkblue;
$graylight: #cfcfcf;
$gray-backgr: #eee;
$default-font: 'Montserrat', sans-serif;
$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
