@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.header {
  position: fixed;

  width: 100%;
  height: $header-height;

  background-color: $bluefont;
  border-bottom: 1px solid #cfcfcf;

  .navbar {
    @extend %flex-centered;
    @include block-content;
    max-width: $container-width;
  }

  .header-item {
    display: block;
    max-height: 32px;
    margin-right: 20px;

    color: #fff;
  }
}
