@use '../../styles/abstracts/variables' as *;

.main-container {
  display: flex;
  flex-flow: column wrap;
  max-width: $container-width;
  height: 100vh;
  margin: 0 auto;
  padding: calc($header-height + 10px) 24px 24px;
}
