@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.footer {
  width: 100%;
  height: $footer-height;

  background-color: $gray-backgr;
  border-bottom: 1px solid $graylight;

  .footer-content {
    @extend %flex-centered;
    @include block-content;
    max-width: $container-width;
  }
}
